@media(max-width:768px){

    .con{
        display: block;
        /* transition: all 2s ease-in-out; */
        overflow-x: hidden;

    }
    .contnav{
        overflow: hidden;
        z-index: 1 !important;
        
    }
    .btn{


        display: block;
z-index: 100;
background: transparent;
color: #ffff;
font-weight: bolder;
    }
    .desc{

        display: none;
    }

         .navvv{
           
            text-decoration: underline;
            text-underline-offset: .3rem;

         
        }
        

}

.underline {
    font-weight: 800;
        color:#2321a1db;
        text-decoration: none; 
    }



/* .active{
    text-decoration: underline;
} */