@media(max-width:768px){

    .con{
        display: block;
    }
    .contnav{
        display: hidden;
        z-index: 1 !important;
    }
    .btn{

        display: block;
z-index: 100;
background: white;
    }
    .desc{

        display: none;
    }

}

.underline{
font-weight: 800;
    color:#2321a1db;
    text-decoration: none; 
}

/* .active{
    text-decoration: underline;
} */