.App{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


.inner{
  filter: blur(1rem);
  z-index: 10;
  box-shadow:  10px -180px 80px 0 rgba(11, 0, 109, 0.677);
  
}

.card:hover .hide{
  opacity: 1;
 transform: translateY(-1rem);
  transition: all .4s ease-in-out;
height: 16rem;
width: 12rem;
 background:rgba(0, 0, 0, 0.564); 
 color: antiquewhite;
 
}

.card{
  /* background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(255,255,255,0) 0%, rgba(255,255,255,0.27244401178440125) 60%, rgba(255,255,255,1) 100%); */

  /* background-image: linear-gradient(to bottom, #1a195f, #322f70, #484581, #5e5c91, #7574a2); */
  /* background:#113f5d; */
  /* background-color: #292A5C; */
  background-color: #8bc5ecf5;
  background-image: linear-gradient(135deg, #ffffff58 0%, #1761eaf5 100%);
    
  
  
  
  }

